<form #form="ngForm" (ngSubmit)="onSubmit()">
    <p>
        <label>Owner Id:</label>
        <input type="text" id="id" name="id" [(ngModel)]="owner.id" required />
    </p>
    <p>
        <label>First Name:</label>
        <input type="text" id="firstName" name="firstName" [(ngModel)]="owner.firstname" 
        required minlength="5"
        #firstName="ngModel" >
    </p>
    <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
        <div *ngIf="firstName.errors.minlength">
            First name must be at least 5 characters long.
        </div>
    </div>

    <p>
        <label>Last Name:</label>
        <input type="text" id="lastName" name="lastName" [(ngModel)]="owner.lastname" 
        required minlength="5"
        #lastName="ngModel" >
    </p>
    <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
        <div *ngIf="title.errors.minlength">
            Last name must be at least 5 characters long.
        </div>
    </div>
    
    
    <button type="submit" [disabled]="!form.valid">Submit</button>
</form>